.even-square {
    -fx-fill: red
}

.odd-square {
    -fx-fill: black
    }

.player-one-piece {
    -fx-fill: red
}

.player-two-piece {
    -fx-fill: white
}

.name {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #006464;
    -fx-opacity: 0.6;
}