.root {
  -fx-font-size: 12pt;
  -fx-font-family: "Courier New";
  -fx-background: rgb(225, 228, 203);
}

.button {
  -fx-text-fill: #006464;
  -fx-background-color: #DFB951;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 8;
}

.button:hover {
  -fx-background-color: #3a3a3a;
}